*.h linguist-language=Swift
*.swift linguist-language=Swift
*.xcodeproj linguist-language=Swift
*.d linguist-language=Swift

Carthage/* linguist-vendored
Build/* linguist-vendored
Index/* linguist-vendored
SwiftUIGraphsExample/Build/** linguist-vendored

